/* 侧边栏个人信息卡片动态渐变色 */
#aside-content > .card-widget.card-info {
background: linear-gradient(
    -45deg,
    #bdeffa,
    #c4ecff,
    #d4e5ff,
    #efeaff,
    #fdedff
);
box-shadow: 0 0 5px rgb(129, 144, 144);
position: relative;
background-size: 400% 400%;
-webkit-animation: Gradient 10s ease infinite;
-moz-animation: Gradient 10s ease infinite;
animation: Gradient 10s ease infinite !important;
}
@-webkit-keyframes Gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
@-moz-keyframes Gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}
@keyframes Gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

/* 页脚与头图透明 */
#footer {
  background: transparent !important;
}
#page-header {
  background: transparent !important;
}

/* 白天模式遮罩透明 */
#footer::before {
  background: transparent !important;
}
#page-header::before {
  background: transparent !important;
}

/* 夜间模式遮罩透明 */
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/*自定义社交图标*/
.custom_codeforces {
  display: inline-block;
  width: 20px;   /* 图标宽度 */
  height: 20px;  /* 图标高度 */
  background: url('/img/cf-favicon-96x96.png') no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.custom_atcoder {
  display: inline-block;
  width: 20px;   /* 图标宽度 */
  height: 20px;  /* 图标高度 */
  background: url('/img/atcoder-icon-transparent.png') no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

.custom_leetcode {
  display: inline-block;
  width: 20px;   /* 图标宽度 */
  height: 20px;  /* 图标高度 */
  background: url('/img/leetcode-icon-32x32.png') no-repeat center;
  background-size: contain;
  vertical-align: middle;
}

